/FDTD/builds/single_gaussian_density_sweep/lumerical_files/lumerical_files_density_sweep_Luis.zip
/FDTD/builds/single_gaussian_density_sweep/lumerical_results/single_gaussian_ring-density=0,1.fsp
/FDTD/builds/single_gaussian_density_sweep/lumerical_results/single_gaussian_ring-density=0,2.fsp
/FDTD/builds/single_gaussian_density_sweep/lumerical_results/single_gaussian_ring-density=0,02.fsp
/FDTD/builds/single_gaussian_density_sweep/lumerical_results/single_gaussian_ring-density=0,3.fsp
/FDTD/builds/single_gaussian_density_sweep/lumerical_results/single_gaussian_ring-density=0,04.fsp
/FDTD/builds/single_gaussian_density_sweep/lumerical_results/single_gaussian_ring-density=0,06.fsp
/FDTD/builds/single_gaussian_density_sweep/lumerical_results/single_gaussian_ring-density=0,08.fsp
/FDTD/builds/single_gaussian_density_sweep/lumerical_files/single_gaussian_ring results/
