/FDTD/builds/single_gaussian_density_sweep/lumerical_files/lumerical_files_density_sweep_Luis.zip
/FDTD/builds/single_gaussian_density_sweep/lumerical_results/single_gaussian_ring-density=0,1.fsp
/FDTD/builds/single_gaussian_density_sweep/lumerical_results/single_gaussian_ring-density=0,2.fsp
/FDTD/builds/single_gaussian_density_sweep/lumerical_results/single_gaussian_ring-density=0,02.fsp
/FDTD/builds/single_gaussian_density_sweep/lumerical_results/single_gaussian_ring-density=0,3.fsp
/FDTD/builds/single_gaussian_density_sweep/lumerical_results/single_gaussian_ring-density=0,04.fsp
/FDTD/builds/single_gaussian_density_sweep/lumerical_results/single_gaussian_ring-density=0,06.fsp
/FDTD/builds/single_gaussian_density_sweep/lumerical_results/single_gaussian_ring-density=0,08.fsp
/FDTD/builds/single_gaussian_density_sweep/lumerical_files/single_gaussian_ring results/
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular.fsp
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular_2D x-normal movie monitor.mpg
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular_2D y-normal movie monitor.mpg
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular_2D z-normal WG movie monitor.mpg
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular_p0.log
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular_p1.log
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular_p2.log
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular_p3.log
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular_p4.log
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular_p5.log
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular_p6.log
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular_p7.log
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular_p8.log
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular_p9.log
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular_p10.log
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular_p11.log
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular_p12.log
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular_p13.log
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular_p14.log
/FDTD/builds/single_gaussian_rectangular/lumerical_results/single_gaussian_rectangular_p15.log
